*{
	margin:0px;
	padding:0px;
	font-family:arial;
}
header{
	background:url(https://media.istockphoto.com/id/1328182974/video/4k-global-earth-map-rotating-digital-world-breaking-news-studio-loop-background.jpg?s=640x640&k=20&c=rSa1fIMB4jYYUmL_E7RIZy_UXNmf1DJEqz-9QZ7JL0M=) ;
background-size:cover;
}
	
header img{
	width:263.41;
	height:150.4;
	padding-top:0px;
}
form {
    float: right;
    margin: 70px 30px 0px 0px;
}
input {
    padding: 8px;
    border: 2px solid black;
}
nav{
	width:100%;
	height:40px;
	background: #d52349;
    color: #fff ;
    font-weight: 700;
	border-radius:9px;
}
nav ul li{
	display:inline-block;
	font-weight:bold;
	width:250px;
	text-align:center;
	padding-top:12px;
	padding-bottom:10px;
}
nav ul li:hover{
	background-color:red;
	cursor:pointer;
	border-radius:20px;
}
#submenu{
	display:none;
}
li:hover #submenu{
	display:block;
	position:absolute;
	background-color:#d52349;
	border-radius:20px;
	margin-top:10px;
}
#submenu li{
	display:block;
}
.common{
    border: 1px solid black;
    width:426px;
    height: 0px;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
    
}
#outline{
    
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center; 
}
#mainone{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 1100px;
    width: 9%;
    column-gap:70px;
     row-gap:0px;
    margin-left:200px;
}
.items{
    border:1px solid whitesmoke;
    height: 490px;
    width:300px;  
    box-shadow: 3px 3px 3px blueviolet;
}
.normal{
    width:100%;
}
.same{
    margin-left: 20px;
}
p{
    opacity: 0.5;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
button {
    padding: -5px;
    width: 150px;
    background-color:#315CAE ;
	display: inline-block;
    color: white;
    border-radius: 5px;
	font-weight: 700;
    margin-top: 10px;
    transition: 2s;
	padding: 0.65em 1.5em 0.65em 1.5em;
	text-align: center;
	box-shadow: 5px 5px 5px black;
	cursor: pointer;
}
button:hover{
    transform: scale(1.1, 1.1);

}
#hello{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    border:1px solid black;
    display: flex; 
    width:35%; 
    height: 0px;  
    opacity: 0.1; 
    gap: 40px;
}
#maindiv{
      display:flex;
      gap: 50px;
      justify-content: center;
     
}
.super{
    border:1px solid whitesmoke;
    height:550px;
    width:488px;
    box-shadow: 5px 5px 5px blueviolet;
    transition: 1s;
    margin-top: 40px;
    
}
.helloworld{
    width: 100%;
}
.para1{
    opacity: 0.4;
    margin-left: 20px;
}
.btn{
    text-align: center;
    
    
}
.para2{
    padding: 15px;
    width:150px;
    background-color: black;
    color: white;
    border-radius:10px;
    margin-top:10px;
    transition: 2s;   
    box-shadow: 5px 5px 5px black;
    margin-left: 10px;
}
.abcd{
    margin-left: 20px;
}
.task33{
    padding: 15px;
    width:150px;
    background-color: #315CAE ;
    color: white;
    border-radius:10px;
    margin-top:10px;
    gap:40px;
    transition: 2s;   
    box-shadow: 5px 5px 5px black;
    margin-left: -125px;
    
}
footer{
	width:100%;
	height:150px;
	background-color:#252122;
	background-image:url(images/footer.jpg);
	background-size:100% 80%;
	background-repeat:no-repeat;
	text-align:center;
	color:#FFFFFF;
}
footer ol li{
	display:inline-block;
	margin:30px 8px 20px 8px;
}
.icon.solid:before {
    font-weight: 1000;
}
input[type="button"].icon:before, input[type="submit"].icon:before, input[type="reset"].icon:before, button.icon:before,.button.icon:before {
    opacity: 0.35;
    position: relative;
    top: 0.05em;
    margin-right: 0.75em;
}
.icon:before {
    line-height: inherit;
}
.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
}
.fa-comment:before {
    content: "\f075";
}
.fa-file-alt:before {
    content: "\f15c";
}
*, *:before, *:after {
    box-sizing: inherit;
}
.icon.brands:before {
    font-family: 'Font Awesome 5 Brands';
}
.fa-facebook-f:before {
    content: "\f39e";
}
.fa-twitter:before {
    content: "\f099";
}
.fa-dribbble:before {
    content: "\f17d";
}
.fa-tumblr:before {
    content: "\f173";
}
.fa-linkedin-in:before {
    content: "\f0e1";
}
ul.social {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    cursor: default;
    margin: 0 0 3.25em 0;
}
#copyright ol.links {
    display: block;
}
#copyright ol.links {
    display: inline-block;
    background: #2C2929;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 2px;
    margin: 0;
}
ul.contact {
		list-style: none;
		padding-left: 0;
	}

		ul.contact li {
			position: relative;
			border-top: solid 1px #ddd;
			padding: 1.3em 0 1.3em 7em;
		}

			ul.contact li h3 {
				position: absolute;
				left: 0;
				top: 1.3em;
				font-size: 1.1em;
			}

			ul.contact li p {
				margin: 0;
			}

			ul.contact li:first-child {
				padding-top: 0;
				border-top: 0;
			}

				ul.contact li:first-child h3 {
					top: 0;
				}
ul.dates {
		list-style: none;
		padding-left: 0;
	}

		ul.dates li {
			position: relative;
			border-top: solid 1px #ddd;
			padding: 1.3em 0 1.3em 6.75em;
		}

		ul.dates .date {
			display: block;
			position: absolute;
			left: 0;
			top: 1.3em;
			background-color: #d52349;
			height: 3.5em;
			text-align: center;
			color: #fff;
			line-height: 1em;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			padding: 0.5em 0.75em 0 1em;
		}

			ul.dates .date:after {
				content: '';
				position: absolute;
				bottom: 0;
				right: -1.2em;
				border-left: solid 1.25em #d52349;
				border-top: solid 1.8em transparent;
				border-bottom: solid 1.8em transparent;
			}

			ul.dates .date strong {
				display: block;
				font-size: 1.75em;
				padding-top: 0.15em;
			}

		ul.dates h3 {
			font-size: 1.1em;
		}

		ul.dates p {
			margin: 0;
		}

		ul.dates li:first-child {
			border-top: 0;
			padding-top: 0;
		}

			ul.dates li:first-child .date {
				top: 0;
			}
ul.divided {
		list-style: none;
		padding-left: 0;
	}

		ul.divided li {
			border-top: solid 1px #ddd;
			padding: 1em 0 1em 0;
		}

			ul.divided li:first-child {
				border-top: 0;
				padding-top: 0;
			}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}
#footer {
    position: relative;
    color: #858484;
    padding: 4em 0;
}
#footer a {
    color: #c5c4c4;
}
article{
	background:	#252122;
}
#footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer strong, #footer b {
    color: #fff;
}
#footer span {
    margin: 0 0 1.5em 0;
}
ul.divided li {
    border-top-color: #353434;
    border-top-color: rgba(255, 255, 255, 0.05);
}
ul.contact  {
    list-style: none;
    padding-left: 0;
}
ul.contact li{
    border-top-color: #353434;
}
ul.dates {
    list-style: none;
    padding-left: 0;
}
ul.dates li{
	border-top-color: rgba(255, 255, 255, 0.05);
}
iframe{
    width: 100%;
	height:400;
}
hr{
	border-color:#353434;
}
.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
				
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-medium {
					order: -1;
				}

				.row > .col-1-medium {
					width: 8.33333%;
				}

				.row > .off-1-medium {
					margin-left: 8.33333%;
				}

				.row > .col-2-medium {
					width: 16.66667%;
				}

				.row > .off-2-medium {
					margin-left: 16.66667%;
				}

				.row > .col-3-medium {
					width: 25%;
				}

				.row > .off-3-medium {
					margin-left: 25%;
				}

				.row > .col-4-medium {
					width: 33.33333%;
				}

				.row > .off-4-medium {
					margin-left: 33.33333%;
				}

				.row > .col-5-medium {
					width: 41.66667%;
				}

				.row > .off-5-medium {
					margin-left: 41.66667%;
				}

				.row > .col-6-medium {
					width: 50%;
				}

				.row > .off-6-medium {
					margin-left: 50%;
				}

				.row > .col-7-medium {
					width: 58.33333%;
				}

				.row > .off-7-medium {
					margin-left: 58.33333%;
				}

				.row > .col-8-medium {
					width: 66.66667%;
				}

				.row > .off-8-medium {
					margin-left: 66.66667%;
				}

				.row > .col-9-medium {
					width: 75%;
				}

				.row > .off-9-medium {
					margin-left: 75%;
				}

				.row > .col-10-medium {
					width: 83.33333%;
				}

				.row > .off-10-medium {
					margin-left: 83.33333%;
				}

				.row > .col-11-medium {
					width: 91.66667%;
				}

				.row > .off-11-medium {
					margin-left: 91.66667%;
				}

				.row > .col-12-medium {
					width: 100%;
				}

				.row > .off-12-medium {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0px;
					margin-left: 0px;
				}

					.row.gtr-0 > * {
						padding: 0px 0 0 0px;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0px;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0px;
						}

				.row.gtr-25 {
					margin-top: -10px;
					margin-left: -10px;
				}

					.row.gtr-25 > * {
						padding: 10px 0 0 10px;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -10px;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 10px;
						}

				.row.gtr-50 {
					margin-top: -20px;
					margin-left: -20px;
				}

					.row.gtr-50 > * {
						padding: 20px 0 0 20px;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -20px;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 20px;
						}

				.row {
					margin-top: -40px;
					margin-left: -40px;
				}

					.row > * {
						padding: 40px 0 0 40px;
					}

					.row.gtr-uniform {
						margin-top: -40px;
					}

						.row.gtr-uniform > * {
							padding-top: 40px;
						}

				.row.gtr-150 {
					margin-top: -60px;
					margin-left: -60px;
				}

					.row.gtr-150 > * {
						padding: 60px 0 0 60px;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -60px;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 60px;
						}

				.row.gtr-200 {
					margin-top: -80px;
					margin-left: -80px;
				}

					.row.gtr-200 > * {
						padding: 80px 0 0 80px;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -80px;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 80px;
						}

		}
		html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}